/* A COMPLETER */
.detournee{
    font-style:italic;
    text-decoration: underline;
}

.contandante{
    font-weight:bold;
}

article h1,article h2,article h3{
    color :red;
}

aside nav ul ul{
    list-style: none;
}

#armes li{
    color :green;
}

#armes li>ul>li{
    color:blue;
}

article img{
    width: 1em;
    height: 1em;
}

aside{
    box-sizing: content-box;
    width: 5vw;
}

article>section>section>ul:not(#armes){
    list-style: none;
}